/*------------------- COLORS ----------------------*/

:root {
  --primary-yellow: #F7CF5C;
  --primary-pink: #E7327B;
  --primary-violet: #420ED0;
  --primary--blue: #61D4F7;
  --primary--white: #fbfbfb;
  --primary--black: #131313;
}

/* ---------------- LOADING ------------------ */

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.loading {
  width: 200px;
}

/* ---------------- BUTTON ------------------ */

.button-style {
  border-radius: 1.25rem;
  border: 1px solid var(--primary--black);
  transition: all 0.3s ease-in-out;
  margin: 1.25rem 0.3rem 1.25rem 0.3rem;
  padding: 0.4rem 1rem 0.3rem 0.8rem;
  color: var(--primary--black);
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .button-color-pink {
  border: 1px solid #FF6230;
}

.button-color-blue {
  border: 1px solid #3073D7;
}

.button-color-pink {
  border: 1px solid #ff5be1;
} */


.button-color-yellow:hover {
  background-color: var(--primary-yellow);
  color: #fbfbfb;
}

.button-color-blue:hover {
  background-color: var(--primary--blue);
  color: #fbfbfb;
}

.button-color-pink:hover {
  background-color: var(--primary-pink);
  color: #fbfbfb;
}

.button-color-violet:hover {
  background-color: var(--primary-violet);
  color: #fbfbfb;
}

/*--------------------INSTRUCTIONS-------------------------*/
section.section-carousel{
  height: 100vh;
  border: 2px solid red;
}

img.carousel-image {
  width: 100%;
}

.buttonR {
  position: absolute;
  right: 0;
  z-index: 0;
  margin-top: 17rem;
}

.buttonL {
  position: absolute;
  left: 0;
  z-index: 0;
  margin-top: 17rem;
}

/*--------------------FOOTER-------------------------*/

footer.footer {
width: 100vw;
padding: 0.8rem;;
background-color: var(--primary--white);
position: fixed;
bottom: 0;
border-top: solid 0.5px;
border-color: var(--primary--black);
display: flex;
justify-content: center;
align-items: center;
}

/*-------------------------HALFDOT--------------------------*/




